# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bfi\OneDrive - EDU BFI OOE\Desktop\Abendkurs\JAVA\20220129ComparableInterfaces\UebungComparable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
